<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground Assignment</title>
</head>

<body>
    <h1 style="display: flex; justify-content: center;">Welcome!</h1>

        <div style="display: flex; justify-content: center; justify-content: space-around; flex-wrap: wrap;">
            {% for x in range(x): %}
            <div
                style="width: 250px; height: 250px; border: 1px solid black; margin-bottom: 10px; background-color:{{ color }};">
            </div>
            {% endfor %}
        </div>
    
</body>

</html>

<!--ADD STYLESHEET TO PROJECT USING static folder and link -> Jinja Documentation 
https://flask.palletsprojects.com/en/2.3.x/quickstart/#static-files
-->